*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(240, 209, 171);
    margin: 0;
}
nav{
    display: block;
    height: 100vh;
    width: 250px;
    position: fixed;
    margin: 0;
    
}
nav .nav-link{
    text-decoration: none;
    color: inherit;
}
nav > ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 0; 
    padding: 0 0px 0 0;
    border-right: 2px solid black;
}
nav > ul >li{
    text-align: left;
    font-size: 1.15rem;
    margin: 30px 0;
    border-bottom: 2px solid #000;
}
main{
    position:relative;
    max-width: 80%;
    min-width: 390px;
    margin-left: 250px;
    margin-top: 0;
    overflow: hidden;
}
h1{
    text-align: center;
    background-color: #806c6c;
    margin-top: 0;
    margin-right: 0;
    height: 60px ;
    width:100%;
    padding-top: 15px;
}
.nav-header{
    text-align: center;
    background-color: #806c6c;
    margin-top: 0;
    margin-right: 0;
    height: 60px ;
    width:100%;
    padding-top: 15px;
}
header.nav-header{
    padding: 0;
    border-right: 2px solid black;
}
nav > header > h2{
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 28px;
    
}
p{
    text-align: justify;
    padding: 0 20px 0 20px;
}
main > section > header > h2{
    padding-left: 20px;
}
img{
    max-width: 75%;
}
#img-figure-5{
    max-width: 300px;
}
figure{
    /*background-color: beige;*/
    padding: 5px;
    width: 75%;
    text-align: center;
    text-wrap: wrap;
}
#image-figure-3{
    max-width: 600px;
}
figcaption{
    margin: 0 auto;
    font-style: italic;
    width: 100%;
}
#image-figure-5{
    max-width: 400px;
    padding: 10px;
}
@media (min-width: 850px)
{
    img{
        max-width: 300px ;
    }
}
